/* .block {
  width: 200px;
  height: 200px;
  padding: 20px;
  border: 10px solid #f88;
  margin: 30px;
} */

main {
  width: 75%;
  height: 75%;
  background-color: #888;
}

.container {
  width: 50%;
  height: 50%;
  background-color: #884590;
  border: 4px solid #fff;
}
