.box-1 {
  /* box-sizing: border-box; */
  width: 300px;
  height: 300px;
  background-color: #c7d47e;
  /* padding: 25px; */
  padding: 25px 15px;

  border: 10px double #6c7c11;
  margin: 0px 0px 20px 0px;
}

.box-2 {
  width: 300px;
  height: 300px;
  padding: 10px;
  background-color: #123;
  padding: 35px 25px;

  margin: 0px 0px 20px 0px;
}

h1 {
  background-color: #c7d47e;
  color: #fff;
}

a {
  display: inline;
  background-color: #123;
  color: #fff;
  width: 500px;
  height: 100px;
}
